<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="WorldWSSoap" maxReceivedMessageSize="2000000">
     <security mode="Transport" />
    </binding>
    <binding name="WorldWSSoap1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://localhost:44312/WorldWS.asmx" binding="basicHttpBinding"
    bindingConfiguration="WorldWSSoap" contract="WorldWS.WorldWSSoap"
    name="WorldWSSoap" />
  </client>
	</system.serviceModel>
</configuration>